name: SpeedView

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  releases:
    name: Build and Release APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Get version from pubspec.yaml
        id: version
        run: |
          VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter Doctor
        run: flutter doctor -v

      - name: Get packages
        run: flutter pub get

      - name: Build APK (Universal)
        run: flutter build apk --release

      - name: Rename APK
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk \
             build/app/outputs/flutter-apk/SpeedView-v${{ steps.version.outputs.version }}.apk

      - name: Get current date
        id: date
        run: |
          DATE=$(TZ='Asia/Jakarta' date +'%A %d-%m-%Y %T WIB')
          echo "date=$DATE" >> $GITHUB_OUTPUT

      - name: Generate unique tag
        id: tag
        run: |
          TAG=v${{ steps.version.outputs.version }}-$(date +'%Y%m%d%H%M%S')
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Release APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/app/outputs/flutter-apk/SpeedView-v${{ steps.version.outputs.version }}.apk
          name: SpeedView v${{ steps.version.outputs.version }} - ${{ steps.date.outputs.date }}
          body: Published at ${{ steps.date.outputs.date }}
          tag: ${{ steps.tag.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}